
      <div class="row mb-2 pt-5">
    <div class="col-md-8">
      <div class="row bg-dark text-white g-0 border border-dark rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <p>{{body}}</p>
        <small>Posted by {{user.name}} on {{format_date date_created}}</small>
</div>

      </div>
  </div>
 </div> 