<h1>Welcome {{name}}</h1>
<a href="/new-post"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">New Post</button></a>
  <div class="container">
        {{#each posts as |post| }}
            {{>post}}
        {{/each}}
  </div>

<script src="./js/dashboard.js"></script>
