
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Dark mode hero</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Welcome to Tech Talk! A blog-posting app where you can connect with other developers, and post about topics that take your interest.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {{#unless logged_in}}
          <a href="/login-page"><button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Login</button></a>
          <a href="/signup-page"><button  type="button" class="btn btn-outline-light btn-lg px-4">Signup</button></a>
          {{/unless}}
          {{#if user}}
        <h1>Welcome {{user.name}}</h1>

          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
        {{#each posts as |post| }}
            {{>post}}
        {{/each}}
  </div>

  {{!-- // Posts section --}}
{{!-- <div class="container"> --}}



