<h1>Create New Post</h1>

<div class="container d-flex flex-column align-items-center">
<form class="col-12 col-md-6 create-post-form">
<input name="title" type="text" class="form-control mb-3" id="title" placeholder="Post Title">

<textarea name="body" type="text" class="form-control mb-3" id="body" placeholder="Post Content"></textarea>

<a href=""><button type="submit" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">Post</button></a>
</form>
</div>


  <script src="/js/dashboard.js"></script>
