
<div class="container d-flex flex-column align-items-center">
<form action="/api/users/signup" method="POST" class="col-12 col-md-6">
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label text-white">Name</label>
  <input name="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Type in your Email">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label text-white">Email</label>
  <input name="email" type="text" class="form-control" id="formGroupExampleInput" placeholder="Type in your Email">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label text-white">Password</label>
  <input name="password" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Type in your Password">
</div>
<button class="btn btn-outline-light btn-lg custom-hover-text px-4 me-sm-3 fw-bold">Submit</button>
</form>
</div>